<h1>{{title}}</h1>
<form action= "/login" method="POST">
    <div>
        <label>User:</label>
        <input type="text" name="username"/><br/>
        <label>Password:</label>
        <input type="text" name="pass"/><br/>
    </div>
    <div>
        <input type="submit" value="Aceptar"/>
    </div>
</form>